.task-card {
  display: flex;
  flex-direction: column;
  background: #d2e4f7;
  border: none !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.add-task-btn {
  background-color: #1e00fd !important;
  border-color: #d2e4f7 !important;
  color: white !important;
}


.task-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 100px;
}

.task-name-container {
  flex: 2;
  max-width: 300px; /* Set max-width agar teks yang panjang tidak mengganggu layout */
}

.priority-container,
.status-container,
.status-icon-container,
.actions-container {
  flex: 1;
  text-align: center;
}

.task-name {
  white-space: normal; /* Allow text to wrap */
  overflow-wrap: break-word; /* Wrap long words */
  word-break: break-word;
}

/* Status badge styles */
.status-badge {
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 50px; /* Border radius 50px */
  display: inline-block;
  border: 2px solid; /* Border with 2px thickness */
  text-align: center;
}

/* Status colors */
.status-badge.to-do {
  color: #f07987;
  background-color: rgba(240, 121, 135, 0.1); /* Light background to match color */
  border-color: #f07987;
}

.status-badge.in-progress {
  color: #fbbf24;
  background-color: rgba(251, 191, 36, 0.1); /* Light background to match color */
  border-color: #fbbf24;
}

.status-badge.done {
  color: #10b981;
  background-color: rgba(16, 185, 129, 0.1); /* Light background to match color */
  border-color: #10b981;
}


.status-badge,
.status-circle,
.btn-icon {
  margin: auto; /* Center elements vertically */
}

.status-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #f07987;
  display: inline-block;
}

.status-circle.done {
  background-color: #10b981;
  border-color: #10b981;
}

.status-circle.in-progress {
  background: conic-gradient(#fbbf24 50%, transparent 50%);
  border-color: #fbbf24;
}

.status-circle.to-do {
  background-color: #ffffff;
  border-color: #f07987;
}



.actions-container {
  display: flex;
  gap: 8px;
}

